* {
    font-size: 100%;
    box-sizing: border-box;
}

/*
Your product landing page should have at least one media query
*/

/*
Your product landing page should utilize CSS flexbox at least once
*/

/*
The navbar should always be at the top of the viewport
*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    box-shadow: 0px 3px 3px rgb(181, 181, 181);
    background-color: white;
    z-index: 999;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;

    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0 10px;
    padding: 0;
}

#nav-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.6rem;
}

h1 {
    margin: 0;
    padding: 0;
}

#header-img {
    max-width: 100%;
    max-height: 100%;
    height: 1rem;
    width: auto;
    margin: 0 5px 5px 0;
    object-fit: cover;
}


#nav-links {
    display: flex;
    flex-direction: row;
}


.nav-list {
    list-style: none;
    margin: 0 0.4rem;
}




main {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 50px 0 0 0;
}

.image-container {
    width: 100%;
    max-width: 800px;
    position: relative;
    font-size: 1rem;
}

.images {
    width: 100%;
    height: auto;
}

#video {
    display: block;
    border: 1px solid red;
    margin: 20px auto;
    width: 70%;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 10px black;
}

#title {
    position: absolute;
    top: 33%;
    width: 100%;
    text-align: center;
}

strong {
    font-size: 3rem;
}

#form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

#email {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.input-description {
    padding: 0;
    margin: 0;
}